<!DOCTYPE html>
<html lang="en">
<head>
    <title>Git Connect</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/style.css" type="text/css" media="screen">
</head>
<body>
<main id="site">
    <div class="text-center">
        <h1 class="mb-5" style="color: black;">Git Connect</h1>
    
    <h3 class="mb-3">We encourage students to contribute to open source.</h3>
    <p>We have made a Github app <a href="https://github.com/apps/post2linkedin" target="_blank">Post2Linkedin</a> which will monitor for pull requests and share them on Linkedin. </p>
    <h5 >Sign in below and start your contributions</h5>
    <img width="20%" src="https://media.giphy.com/media/W6LvJ3rgpb68b2EA11/giphy.gif" alt="">
        </div>
        <p class="text-center">
            <a href="/auth" class="btn btn-primary btn-lg">Signin with Linkedin</a>
        </p>
    
</main>
</body>
</html>